{# src/PNT/UserBundle/Resources/views/Security/login.html.twig #}

{% extends "PNTSiteBundle::layout.html.twig" %}

{% block title %} | Login
{% endblock %}

{% block body %}
<div class="offset-sm-3 col-sm-6">
  <h3 style="text-align: center; font-weight: lighter; font-size: 2.5em; margin-top: 20px;">Admin access</h3>
  {# S'il y a une erreur, on l'affiche dans un joli cadre #}
  {% if error %}
    <div class="alert alert-danger" style="margin-top: 20px; margin-bottom: -6px;">{{ error.message }}</div>
  {% endif %}

  {# Le formulaire, avec URL de soumission vers la route « login_check » comme on l'a vu #}
  <form action="{{ path('login_check') }}" method="post" style="text-align: center;">
    <label for="username"> </label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" placeholder="Login"/>

    <label for="password"> </label>
    <input type="password" id="password" name="_password" class="form-control" placeholder="Password"/>
    <br />
    <input type="submit" value="Connexion" class="btn btn-default" style="background-color: white; border: 1px #777777 solid;"/>
  </form>
</div>
{% endblock %}

{% block script %}
<script>
  var path = "url({{ asset('img/background.jpg') }})"
  $('body').css('height', '100vh');
  $('body').css('background', path + ' no-repeat');
  $('body').css('background-size', 'cover');
</script>
{% endblock %}
