<ul class="edition-btn">
  <li>
    <a href="{{ edit }}"><i class="fa fa-pencil-square-o"></i></a>
  </li>
  <li>
    <a href="{{ remove }}" class="remove"><i class="fa fa-trash-o"></i></a>
  </li>
</ul>
