<script>
  var editLinks = $('.edit-link');
  for(i=0; i<editLinks.length; i++){
      $(editLinks[i]).on('click', function(e){
          e.preventDefault();
          var url = this.href;
          var id = this.id;
          var box = bootbox.dialog({
                message: '<form class="form-signin" name="form" method="post" action="'+url+'">'
                  +'<h5 class="form-signin-heading">Modifier un contenu</h5>'
                  +'<div style="margin-top: 10px;">'
                    +'<textarea id="form_text" name="form[text]" required="required" class="form-control" placeholder="Texte">'
                    + $('#text-'+id).html().replace(/<br>/g, '')
                    +'</textarea>'
                  +'</div>'
                  +'<div style="margin-top: 10px;">'
                    +'<button type="submit" id="form_save" name="form[save]" class="btn btn-primary ">Publier</button>'
                  +'</div>'
                +'</form>'
                +'<div style="margin-top: 10px;"><a href="'+url+'">Modification avancée</a></div>',
                title: "Modifier la page",
                buttons: {
                    "Annuler": {
                        className: "btn-default",
                    }
                }
            });
            setTimeout(function(){
              $('textarea').each(function(){
                this.style.height = "1px";
                this.style.height = (22+this.scrollHeight)+"px";
              });
            }, 500);
      });
  }
  var editImgs = $('.edit-img');
  for(i=0; i<editImgs.length; i++){
      $(editImgs[i]).on('click', function(e){
          e.preventDefault();
          var url = this.href;
          var id = this.id;
          var box = bootbox.dialog({
                message: '<form class="form-signin" name="form" method="post" enctype="multipart/form-data" action="'+url+'">'
                  +'<h5 class="form-signin-heading">Modifier une image</h5>'
                  +'<input id="form_image" name="form[image]" class="form-control" placeholder="Ajouter une image" type="file">'
                  +'<div style="margin-top: 10px;">'
                    +'<button type="submit" id="form_save" name="form[save]" class="btn btn-primary ">Publier</button>'
                  +'</div>'
                +'</form>'
                +'<div style="margin-top: 10px;"><a href="'+url+'">Modification avancée</a></div>',
                title: "Modifier la page",
                buttons: {
                    "Annuler": {
                        className: "btn-default",
                    }
                }
            });
      });
  }
</script>
