<div style="margin-top: 10px;">
  {{ form_label(element, name, {'label_attr' : {'class': 'bold'}}) }}
  {{ form_errors(element) }}
  {{ form_widget(element, {'attr': {'class': 'form-control', 'placeholder': name}}) }}
</div>
